/*! HTML5 Boilerplate v9.0.0-RC1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

.sm\:px-0 {
  padding-left: 0px;
  padding-right: 0px;
}

.w-auto {
  width: auto;
}

.h-\[110px\] {
  height: 110px;
}

.-mb-7 {
  margin-bottom: -1.75rem;
}

.-ml-1 {
  margin-left: -0.25rem;
}
.mt-8 {
  margin-top: 2rem;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

.px-10 {
  width: 800px;
  height: 300px;
  padding: 20px;
  border-radius: 10px;
  border: solid rgb(235, 54, 172, 0.4);
  background: white;
  position: fixed;
  top: 200px;
  left: 800px;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}





/*/////////////////////////*/
.chartMenu {
  width: 100vw;
  height: 40px;
  background: #1A1A1A;
  color: rgba(54, 162, 235, 1);
}
.chartMenu p {
  padding: 10px;
  font-size: 20px;
}

.chartBox {
  padding: 5px;
  border-radius: 5px;
  background: white;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: Open Sans, sans-serif;
  overflow-y: auto;
  display: grid;
}

header {
  background-color: #070707;
  width: 100%;
  font-size: 35px;
  text-align: center;
  align-content: center;
  padding-bottom: 15px;
  padding-top: 15px;
  font-weight: bold;
  color: white;
}

main {
  background-color: #dcdbdb;
  width: 100%;
}

footer {
  background-color: #b5b9b5;
}

.year-tag {
  background-color: #333;
  color: white;
  font-size: 20px;
  border-radius: 2px;
  width: fit-content;
  font-weight: bolder;
  padding: 5px;
}

.grid-container {
  display: grid;
  margin-left: 300px;
  margin-right: 300px;
  background-color: white;
}

.debt {
  border-radius: 10px;
  align-content: center;
}

.expenditure {
  border-radius: 10px;
  display: grid;
}

.row-1 {
  border-radius: 10px;
  display: grid;
  grid-template-columns: 300px 440px;
  justify-content: space-evenly;
}

.row-2 {
  border-radius: 10px;
  display: grid;
  grid-template-columns: 900px;
  justify-content: space-around;
}

.align-center-horizontally {
  text-align: center;
  align-content: center;
}

.vis-table {
  margin-bottom: 50px;
  font-size: 12px;
}

h3.vis-table-title {
  font-weight: 600;
  color: black;
  font-size: 20px;
}

.vis-table {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  line-height: 1.42857143;
  color: #333;
  font-family: Open Sans, sans-serif;
  box-sizing: border-box;
  margin-bottom: 50px;
  font-size: 12px;
}

table {
  border: 1px solid black;
  width: 100%;
}

td {
  border: 1px solid black;
  padding-bottom: 10px;
  padding-top: 10px;
}

th {
  vertical-align: middle;
  border-color: inherit;
  color: white;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: black;
}

.odd {
  background-color: #f9f9f9;
}



